<div class="container" >
	<h1>Hero Form</h1>
	<form [formGroup]="heroForm" #formDir="ngForm">
		<div [hidden]="formDir.submitted">
		<div class="form-group">
			<label for="name">Name</label>
			<input id="name" class="form-control" formControlName="name" required >
			<div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors.required"
                     >Name is required</div>
                <div *ngIf="name.errors.minlength">
                	Name must be at least 4 characters long.
                </div>
                <div *ngIf="name.errors.forbiddenName">
                	Name can not be rose
                </div>
            </div>
		</div>
		<div class="form-group">
			<label for="alterEgo">Alter Ego</label>
			<input class="form-control" id="alterEgo" formControlName="alterEgo">
		</div>
		<div class="form-group">
			<label for="power">Hero Power</label>
			<select class="form-control" formControlName="power" id="power" required>
				<option *ngFor="let power of powers" [value]="power">{{power}}</option>
			</select>
		</div>
		<button type="submit" class="btn btn-success" [disabled]="heroForm.invalid">Submit</button>
		<button type="button" class="btn btn-default" (click)="formDir.resetForm({})">Reset</button>
		</div>
	</form>
</div>
<div class="submitted-message" *ngIf="formDir.submitted">
	<p>You've submitted your hero, {{ heroForm.value.name }}</p>
	<button (click)="formDir.resetForm({})">Add new Hero</button>
</div>
